:root {
  --color-cyan: hsl(177, 68%, 64%);
  --color-orange: hsl(12, 94%, 65%);
  --color-yellow: hsl(33, 100%, 70%);
  --color-white: hsl(20, 33%, 98%);
  --color-slate: hsl(244, 23%, 12%);

  --fs-1: clamp(2.5rem, 1.257rem + 5.304vw, 5.5rem);
  --fs-2: 4rem;
  --fs-3: 2.5rem;
  --fs-4: clamp(1rem, 0.896rem + 0.442vw, 1.25rem);
  --fs-5: 1rem;
  --fs-6: 1.125rem;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/bg-main-mobile.png) no-repeat;
    background-position: 53px -173px;

    @media (min-width: 680px) {
      background: url(/assets/bg-main-tablet.png) no-repeat;
      background-position: -450px -240px;
    }

    @media (min-width: 1120px) {
      background: url(/assets/bg-main-desktop.png) no-repeat;
      background-position: -456px -280px;
    }
  }
}

.wrapper {
  padding-inline: clamp(1.25rem, 5%, 2.75rem);
  width: 100%;

  @media (min-width: 1280px) {
    max-width: 70em;
    margin-inline: auto;
    padding-inline: 0;
  }
}
