.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 64px;
    border-radius: 12px;
    border-color: transparent;
    gap: 8px;
  }

  .apple {
    background-color: var(--color-slate);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-cyan);
      color: var(--color-slate);

      path {
        fill: var(--color-slate);
      }
    }
  }

  .android {
    background-color: var(--color-white);
    color: var(--color-slate);

    &:hover {
      background-color: var(--color-yellow);
      color: var(--color-slate); 
    }
  }
}

 