body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.header {
  h1 {
    font-size: var(--fs-1);
    letter-spacing: -1px;
    font-weight: bold;
  }

  p {
    font-size: var(--fs-4);
    line-height: 1.5;
  }
}

.main {
  h3 {
    font-size: var(--fs-3);
    line-height: 1.1;
    font-weight: bold;
  }

  p {
    font-size: var(--fs-4);
    line-height: 1.5;
  }

  .month {
    font-size: 20px;
    line-height: 1.5;
  }

  .price {
    font-size: var(--fs-2);
    line-height: 1.1;
    font-weight: bold;
  }

  button {
    font-size: var(--fs-6);
    line-height: 1.8;
    font-weight: bold;
  }
}

.footer {
  &__info {
    font-size: var(--fs-5);
    line-height: 1.5;
  }

  .email {
    font-weight: bold;
  }
}
