.header {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-block: 64px;
  position: relative;

  &__article {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  /* 48em breakpoint (768px) */
  @media (min-width: 48em) {
    &::before {
      content: "";
      top: -7%;
      right: -6%;
      width: 266.67px;
      height: 400px;
      position: absolute;
      background-image: url(/assets/bg-pattern-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    h1 {
      max-width: 15ch;
    }
    p {
      max-width: 44ch;
    }
  }

  /* 80em breakpoint (1280px) */
  @media (min-width: 80em) {
    &::before {
      content: "";
      right: -14%;
      width: 312px;
      height: 468px;
    }

    h1 {
      max-width: 16ch;
    }
    p {
      max-width: 60ch;
    }
  }
}
