.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 111px;

  &::before {
    content: "";
    width: 100%;
    height: 380px;
    background: url(/assets/bg-pattern-2.svg) no-repeat, var(--color-slate);
    background-position: top center;
    background-size: 312px 468px;
  }

  .image-app {
    position: absolute;
    top: -11%;
    left: 50%;
    transform: translateX(-50%);
    width: 209px;
  }

  @media (max-width: 42.44em) { // 679px / 16 = 42.44em
    padding-inline: 0;
  }

  @media (min-width: 42.5em) { // 680px / 16 = 42.5em
    margin-block: 200px;

    &::before {
      height: 600px;
      background-position: top left;
      border-radius: 12px;
    }

    .image-app {
      top: -18%;
      left: 11%;
      transform: unset;
      width: 270.21px;
    }
  }

  @media (min-width: 70em) { // 1120px / 16 = 70em
    &::before {
      background-position: top center;
    }

    .image-app {
      top: -121px;
      left: 100px;
      width: 312px;
      height: 642px;
    }
  }
}
